.highlight {
    box-shadow: rgb(236, 227, 161) 0px 22px 70px 4px;
}
#cards{
    margin-top:5%;
}
body {
    background-color: black;
    align-items: center;
    padding: 10px;
}
h1 {
    color: white;
    text-align: center;
}
h3 {
    color: white;
    text-align: center;
}

.card:hover {
    background-color: lightgrey;
    transform: scale(1.05)
}
#popularityBtn {
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
}
.button-box {
    text-align:center;
    margin-top:10px;
}