.highlight {
    box-shadow: rgb(236, 227, 161) 0px 22px 70px 4px;
}

body {
    background-color: black;
}
h1 {
    color: white;
    text-align: center;
}
h3 {
    color: white;
    text-align: center;
}

.card:hover {
    background-color: grey;
}
#popularityBtn {
    text-align: center;
    margin: auto;
    display: flex;
    display: grid;
}